<!-- Loop through posts -->
{{#each postInfo}}
<div class="card text-center">
  <div class="card-header">
    {{title}}
  </div>
  <div class="card-body">
    <!-- Link to post -->
    <a href="/post/{{id}}">Read More...</a>
  </div>
  <div class="card-footer text-muted">
    <p class="card-text">
      <!-- Display post creator and creation date -->
      <strong>Created by:</strong> {{user.username}}
      <strong>Created on:</strong> {{format_date createdAt}}
    </p>
  </div>
</div>
{{/each}}